<div class="fluid-container text-dark row align-items-start"
    style="background-color: rgb(233, 227, 240);padding-top: 0%; height: 100vh">
    <div class="jumbotrone col mx-4 my-4 rounded" style="background-color: rgb(213, 172, 255); height:100vh;">
        <form>
            <div class="form-group mt-3">
                <input class="form-control" type="text" name="name" [(ngModel)]="name" placeholder="Search by Name" />
            </div>
            <ol>
                <!-- *All we want is a filter that takes an array as input and returns
                     *a subset of that array based on the term we supply. In Angular,
                     * this way of transforming data to some other form is implemented with Pipes 
                -->

                
                      
                <div class="card mb-1" style="width: 14rem;" *ngFor="let emp of employees | appFilter: name">
                    <!-- <img [src]="emp.avatar" class="card-img-top" alt="..." height="100px" > -->
                    <div class="card-body mb-0">
                      <strong class="card-title">{{emp.first_name}} {{emp.last_name}}</strong>
                      <ul *ngIf="emp">
                        <li>Id:{{emp.id}}</li>
                        <li>Email:{{emp.email}}</li>
                    </ul>
                    </div>
                  </div>

            </ol>
        </form>
    </div>
    <div class="jumbotrone col  mx-4 my-4 rounded" style=" background-color: antiquewhite;height: 100vh;">
        <div class="mb-3">
            <input class="btn btn-primary mt-2" type="button" value="Show/Hide" id="get-users" (click)="show()">
        </div>
        <div *ngIf="isTrue" style="float: left;">
            <table class="table table-primary table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.first_name}} {{employee.last_name}}</td>
                    <td>
                        <button class="btn btn-info" (click)="test(employee.id)">click here for details</button>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>